In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
csv_file = "DatasetCSV.csv"
dataset_df = pd.read_csv(csv_file)
dataset_df.head()

,No,Policy Number,Name of Insured,CARRIER,Premium written,Premium earned,Premium unearned,Effective date,Expiration date,Cancelations,...,Reinsurance premium rate,Policy discount,Application fee Fee,Processing fee,Installment Fe,Policy Fee,SYSTEM,PLCYPREM_W,PLCYPREM_E,Commission basis
0,1,CA10000204703,Superior Stone Distributors Inc,BIC,0,66.28,0.00,6/1/2018,6/1/2019,0,...,0.8,0,0,0,0,0,POLICY DECISIONS,0,66.28,WRITTEN
1,2,CA10000204703,Superior Stone Distributors Inc,BIC,0,5979.55,0.00,6/1/2018,6/1/2019,0,...,0.8,0,0,0,0,0,POLICY DECISIONS,0,5979.55,WRITTEN
2,3,CA10000204703,Superior Stone Distributors Inc,BIC,0,3154.39,0.00,6/1/2018,6/1/2019,0,...,0.8,0,0,0,0,0,POLICY DECISIONS,0,3154.39,WRITTEN
3,4,CA10000204704,Superior Stone Distributors Inc,BIC,18712,6237.33,12474.67,6/1/2019,6/1/2020,0,...,0.8,0,0,0,0,0,POLICY DECISIONS,18712,6237.33,WRITTEN
4,5,CA10000204704,Superior Stone Distributors Inc,BIC,5708,1902.67,3805.33,6/1/2019,6/1/2020,0,...,0.8,0,0,0,0,0,POLICY DECISIONS,5708,1902.67,WRITTEN

In [7]:
list(dataset_df.columns.values)

['No',
 'Policy Number',
 'Name of Insured',
 'CARRIER',
 '  Premium written  ',
 '  Premium earned  ',
 '  Premium unearned  ',
 'Effective date',
 'Expiration date',
 'Cancelations',
 'Line of Business',
 'Subclass',
 '0_3',
 'Endorsements / premium adjustments',
 'Agent/Broker No.',
 'Agent Name',
 'State of Coverage',
 'Renewal/New business',
 ' Coverage amount ',
 'Billing Method',
 'Billing Period',
 'State Tax Rate',
 'COMMISSION_RATE',
 'Reinsurance Program',
 'Reinsurance premium rate',
 'Policy discount',
 'Application fee Fee',
 'Processing fee',
 'Installment Fe',
 'Policy Fee',
 'SYSTEM',
 ' PLCYPREM_W ',
 ' PLCYPREM_E ',
 'Commission basis']

In [8]:
new_dataset_df = dataset_df[['Policy Number',  '  Premium written  ', '  Premium earned  ', '  Premium unearned  ',
                             'State of Coverage', 'Line of Business','Effective date', 'Expiration date',
                            'COMMISSION_RATE','Renewal/New business', 'Agent Name', 'State Tax Rate',
                            'Commission basis', 'Reinsurance premium rate']].copy()
new_dataset_df.head()

,Policy Number,Premium written,Premium earned,Premium unearned,State of Coverage,Line of Business,Effective date,Expiration date,COMMISSION_RATE,Renewal/New business,Agent Name,State Tax Rate,Commission basis,Reinsurance premium rate
0,CA10000204703,0,66.28,0.00,GA,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,ACRISURE LLC,0.036,WRITTEN,0.8
1,CA10000204703,0,5979.55,0.00,GA,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,ACRISURE LLC,0.036,WRITTEN,0.8
2,CA10000204703,0,3154.39,0.00,GA,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,ACRISURE LLC,0.036,WRITTEN,0.8
3,CA10000204704,18712,6237.33,12474.67,GA,COMMERCIAL AUTOMOBILE,6/1/2019,6/1/2020,0.0015,R,ACRISURE LLC,0.036,WRITTEN,0.8
4,CA10000204704,5708,1902.67,3805.33,GA,COMMERCIAL AUTOMOBILE,6/1/2019,6/1/2020,0.0015,R,ACRISURE LLC,0.036,WRITTEN,0.8

In [9]:
clean_dataset_df = new_dataset_df.rename(columns={"Policy Number": "Policy Number",
                                                  '  Premium written  ': "Premium Written",
                                                  '  Premium earned  ': "Premium Earned",
                                                  '  Premium unearned  ': "Premium Unearned",
                                                 "State": "State of Coverage", 
                                                 "Line of Business":"Line of Business", 
                                                 "Audit Premium":"Audit Premium",
                                                 "Effective date":"Effective Date",
                                                 "Expiration date":"Expiration Date",
                                                 "COMMISSION_RATE": "Commission Rate",
                                                 "Renewal/New business": "New or Renewal",
                                                 "Agent Name":"Agent Name",
                                                 "State Tax Rate":"State Tax Rate",
                                                 "Commission basis": "Commission Basis",
                                                 "Reinsurance premium rate":"Reinsurance premium rate"})
clean_dataset_df.head()

,Policy Number,Premium Written,Premium Earned,Premium Unearned,State of Coverage,Line of Business,Effective Date,Expiration Date,Commission Rate,New or Renewal,Agent Name,State Tax Rate,Commission Basis,Reinsurance premium rate
0,CA10000204703,0,66.28,0.00,GA,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,ACRISURE LLC,0.036,WRITTEN,0.8
1,CA10000204703,0,5979.55,0.00,GA,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,ACRISURE LLC,0.036,WRITTEN,0.8
2,CA10000204703,0,3154.39,0.00,GA,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,ACRISURE LLC,0.036,WRITTEN,0.8
3,CA10000204704,18712,6237.33,12474.67,GA,COMMERCIAL AUTOMOBILE,6/1/2019,6/1/2020,0.0015,R,ACRISURE LLC,0.036,WRITTEN,0.8
4,CA10000204704,5708,1902.67,3805.33,GA,COMMERCIAL AUTOMOBILE,6/1/2019,6/1/2020,0.0015,R,ACRISURE LLC,0.036,WRITTEN,0.8

In [23]:
clean_dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Policy Number             1000 non-null   object
 1   Premium Written           1000 non-null   int64
 2   Premium Earned            1000 non-null   float64
 3   Premium Unearned          1000 non-null   float64
 4   State of Coverage         1000 non-null   object
 5   Line of Business          1000 non-null   object
 6   Effective Date            1000 non-null   object
 7   Expiration Date           1000 non-null   object
 8   Commission Rate           1000 non-null   float64
 9   New or Renewal            1000 non-null   object
 10  Agent Name                1000 non-null   object
 11  State Tax Rate            1000 non-null   float64
 12  Commission Basis          1000 non-null   object
 13  Reinsurance premium rate  1000 non-null   float64
dtypes: float64(5), int64(1), object(8)
memory usage: 109.5+ KB

In [36]:
#Second CSV file
csv_file = "State and Local Tax Rates_CSV.csv"
tax_data_df = pd.read_csv(csv_file)
tax_data_df.head()

  State of Coverage  State Tax Rate
0              Ala.            0.04
1            Alaska            0.00
2             Ariz.            0.06
3              Ark.            0.07
4        Calif. (b)            0.07

In [37]:
clean_tax_data_df = pd.DataFrame(tax_data_df)
clean_tax_data_df.head()

  State of Coverage  State Tax Rate
0              Ala.            0.04
1            Alaska            0.00
2             Ariz.            0.06
3              Ark.            0.07
4        Calif. (b)            0.07

In [38]:
list(clean_tax_data_df.columns.values)

['State of Coverage', 'State Tax Rate']

In [39]:
clean_tax_data_df.rename(columns={' State Tax Rate ': 'State Tax Rate'})
clean_tax_data_df.head()

  State of Coverage  State Tax Rate
0              Ala.            0.04
1            Alaska            0.00
2             Ariz.            0.06
3              Ark.            0.07
4        Calif. (b)            0.07

In [40]:
clean_tax_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State of Coverage  51 non-null     object
 1   State Tax Rate     51 non-null     float64
dtypes: float64(1), object(1)
memory usage: 944.0+ bytes

In [33]:
clean_tax_data_df['State Tax Rate'] = clean_tax_data_df.loc[:, "State Tax Rate"].astype(float)

TypeError: '(slice(None, None, None), 'State Tax Rate')' is an invalid key

In [45]:
merged_df= pd.merge(clean_dataset_df, clean_tax_data_df, on="State Tax Rate")
merged_df.head()

,Policy Number,Premium Written,Premium Earned,Premium Unearned,State of Coverage_x,Line of Business,Effective Date,Expiration Date,Commission Rate,New or Renewal,Agent Name,State Tax Rate,Commission Basis,Reinsurance premium rate,State of Coverage_y
0,CA10000205303,0,54.61,0.0,TN,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,FILER INSURANCE INC,0.04,WRITTEN,0.8,Ala.
1,CA10000205303,0,54.61,0.0,TN,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,FILER INSURANCE INC,0.04,WRITTEN,0.8,Ga.
2,CA10000205303,0,54.61,0.0,TN,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,FILER INSURANCE INC,0.04,WRITTEN,0.8,Hawaii (c)
3,CA10000205303,0,54.61,0.0,TN,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,FILER INSURANCE INC,0.04,WRITTEN,0.8,La.
4,CA10000205303,0,54.61,0.0,TN,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,FILER INSURANCE INC,0.04,WRITTEN,0.8,Mo.