In [98]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import pswd
import psycopg2

In [56]:
#read first csv file
csv_file = "DatasetCSV.csv"
dataset_df = pd.read_csv(csv_file)
dataset_df.head()

,No,Policy Number,Name of Insured,CARRIER,Premium written,Premium earned,Premium unearned,Effective date,Expiration date,Cancelations,...,Reinsurance premium rate,Policy discount,Application fee Fee,Processing fee,Installment Fe,Policy Fee,SYSTEM,PLCYPREM_W,PLCYPREM_E,Commission basis
0,1,CA10000204703,Superior Stone Distributors Inc,BIC,0,66.28,0.00,6/1/2018,6/1/2019,0,...,0.8,0,0,0,0,0,POLICY DECISIONS,0,66.28,WRITTEN
1,2,CA10000204703,Superior Stone Distributors Inc,BIC,0,5979.55,0.00,6/1/2018,6/1/2019,0,...,0.8,0,0,0,0,0,POLICY DECISIONS,0,5979.55,WRITTEN
2,3,CA10000204703,Superior Stone Distributors Inc,BIC,0,3154.39,0.00,6/1/2018,6/1/2019,0,...,0.8,0,0,0,0,0,POLICY DECISIONS,0,3154.39,WRITTEN
3,4,CA10000204704,Superior Stone Distributors Inc,BIC,18712,6237.33,12474.67,6/1/2019,6/1/2020,0,...,0.8,0,0,0,0,0,POLICY DECISIONS,18712,6237.33,WRITTEN
4,5,CA10000204704,Superior Stone Distributors Inc,BIC,5708,1902.67,3805.33,6/1/2019,6/1/2020,0,...,0.8,0,0,0,0,0,POLICY DECISIONS,5708,1902.67,WRITTEN

In [57]:
list(dataset_df.columns.values)

['No',
 'Policy Number',
 'Name of Insured',
 'CARRIER',
 '  Premium written  ',
 '  Premium earned  ',
 '  Premium unearned  ',
 'Effective date',
 'Expiration date',
 'Cancelations',
 'Line of Business',
 'Subclass',
 '0_3',
 'Endorsements / premium adjustments',
 'Agent/Broker No.',
 'Agent Name',
 'State of Coverage',
 'Renewal/New business',
 ' Coverage amount ',
 'Billing Method',
 'Billing Period',
 'State Tax Rate',
 'COMMISSION_RATE',
 'Reinsurance Program',
 'Reinsurance premium rate',
 'Policy discount',
 'Application fee Fee',
 'Processing fee',
 'Installment Fe',
 'Policy Fee',
 'SYSTEM',
 ' PLCYPREM_W ',
 ' PLCYPREM_E ',
 'Commission basis']

In [58]:
#Keep the columns needed
new_dataset_df = dataset_df[['Policy Number',  '  Premium written  ', '  Premium earned  ', '  Premium unearned  ',
                             'State of Coverage', 'Line of Business','Effective date', 'Expiration date',
                            'COMMISSION_RATE','Renewal/New business', 'Agent Name', 'State Tax Rate',
                            'Commission basis', 'Reinsurance premium rate']].copy()
new_dataset_df.head()

,Policy Number,Premium written,Premium earned,Premium unearned,State of Coverage,Line of Business,Effective date,Expiration date,COMMISSION_RATE,Renewal/New business,Agent Name,State Tax Rate,Commission basis,Reinsurance premium rate
0,CA10000204703,0,66.28,0.00,GA,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,ACRISURE LLC,0.036,WRITTEN,0.8
1,CA10000204703,0,5979.55,0.00,GA,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,ACRISURE LLC,0.036,WRITTEN,0.8
2,CA10000204703,0,3154.39,0.00,GA,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,ACRISURE LLC,0.036,WRITTEN,0.8
3,CA10000204704,18712,6237.33,12474.67,GA,COMMERCIAL AUTOMOBILE,6/1/2019,6/1/2020,0.0015,R,ACRISURE LLC,0.036,WRITTEN,0.8
4,CA10000204704,5708,1902.67,3805.33,GA,COMMERCIAL AUTOMOBILE,6/1/2019,6/1/2020,0.0015,R,ACRISURE LLC,0.036,WRITTEN,0.8

In [114]:
#rename the column names
clean_dataset_df = new_dataset_df.rename(columns={"Policy Number": "Policy_Number",
                                                  '  Premium written  ': "Premium_Written",
                                                  '  Premium earned  ': "Premium_Earned",
                                                  '  Premium unearned  ': "Premium_Unearned",
                                                 "State of Coverage": "State_of_Coverage", 
                                                 "Line of Business":"Line_of_Business", 
                                                 "Audit Premium":"Audit_Premium",
                                                 "Effective date":"Effective_Date",
                                                 "Expiration date":"Expiration_Date",
                                                 "COMMISSION_RATE": "Commission_Rate",
                                                 "Renewal/New business": "New_or_Renewal",
                                                 "Agent Name":"Agent_Name",
                                                 "State Tax Rate":"State_Tax_Rate",
                                                 "Commission basis": "Commission_Basis",
                                                 "Reinsurance premium rate":"Reinsurance_premium_rate"})
clean_dataset_df.head()

,Policy_Number,Premium_Written,Premium_Earned,Premium_Unearned,State_of_Coverage,Line_of_Business,Effective_Date,Expiration_Date,Commission_Rate,New_or_Renewal,Agent_Name,State_Tax_Rate,Commission_Basis,Reinsurance_premium_rate
0,CA10000204703,0,66.28,0.00,GA,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,ACRISURE LLC,0.036,WRITTEN,0.8
1,CA10000204703,0,5979.55,0.00,GA,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,ACRISURE LLC,0.036,WRITTEN,0.8
2,CA10000204703,0,3154.39,0.00,GA,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,ACRISURE LLC,0.036,WRITTEN,0.8
3,CA10000204704,18712,6237.33,12474.67,GA,COMMERCIAL AUTOMOBILE,6/1/2019,6/1/2020,0.0015,R,ACRISURE LLC,0.036,WRITTEN,0.8
4,CA10000204704,5708,1902.67,3805.33,GA,COMMERCIAL AUTOMOBILE,6/1/2019,6/1/2020,0.0015,R,ACRISURE LLC,0.036,WRITTEN,0.8

In [126]:
clean_dataset_df.to_csv('clean_dataset.csv', index = False)

In [60]:
clean_dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Policy_Number             1000 non-null   object
 1   Premium_Written           1000 non-null   int64
 2   Premium_Earned            1000 non-null   float64
 3   Premium_Unearned          1000 non-null   float64
 4   State of Coverage         1000 non-null   object
 5   Line_of_Business          1000 non-null   object
 6   Effective_Date            1000 non-null   object
 7   Expiration_Date           1000 non-null   object
 8   Commission_Rate           1000 non-null   float64
 9   New_or_Renewal            1000 non-null   object
 10  Agent_Name                1000 non-null   object
 11  State_Tax_Rate            1000 non-null   float64
 12  Commission_Basis          1000 non-null   object
 13  Reinsurance_premium_rate  1000 non-null   float64
dtypes: float64(5), int64(1), object(8)
memory usage: 109.5+ KB

In [61]:
#Read second csv file
csv_file = "State and Local Tax Rates_CSV.csv"
tax_data_df = pd.read_csv(csv_file)
tax_data_df.head()

  State of Coverage  State Tax Rate
0              Ala.            0.04
1            Alaska            0.00
2             Ariz.            0.06
3              Ark.            0.07
4        Calif. (b)            0.07

In [86]:
#clean second csv file
clean_tax_data_df = pd.DataFrame(tax_data_df)
clean_tax_data_df.head()

  State of Coverage  State Tax Rate
0              Ala.            0.04
1            Alaska            0.00
2             Ariz.            0.06
3              Ark.            0.07
4        Calif. (b)            0.07

In [125]:
clean_tax_data_df.to_csv('clean_tax_data.csv', index=False)

In [63]:
list(clean_tax_data_df.columns.values)

['State of Coverage', 'State Tax Rate']

In [111]:
#Rename columns names
clean_tax_data_df = clean_tax_data_df.rename(columns={'State of Coverage':'State_of_Coverage',
                                  'State Tax Rate':'State_Tax_Rate'})
clean_tax_data_df.head()

  State_of_Coverage  State_Tax_Rate
0              Ala.            0.04
1            Alaska            0.00
2             Ariz.            0.06
3              Ark.            0.07
4        Calif. (b)            0.07

In [88]:
clean_tax_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State of Coverage  51 non-null     object
 1   State Tax Rate     51 non-null     float64
dtypes: float64(1), object(1)
memory usage: 944.0+ bytes

In [90]:
clean_dataset_df.columns

Index(['Policy_Number', 'Premium_Written', 'Premium_Earned',
       'Premium_Unearned', 'State of Coverage', 'Line_of_Business',
       'Effective_Date', 'Expiration_Date', 'Commission_Rate',
       'New_or_Renewal', 'Agent_Name', 'State_Tax_Rate', 'Commission_Basis',
       'Reinsurance_premium_rate'],
      dtype='object')

In [93]:
clean_tax_data_df.columns

Index(['State_of_Coverage', 'State_Tax_Rate'], dtype='object')

In [117]:
#merge the two datasets
merged_df= pd.merge(clean_dataset_df, clean_tax_data_df, on="State_Tax_Rate")
merged_df.head()

,Policy_Number,Premium_Written,Premium_Earned,Premium_Unearned,State_of_Coverage_x,Line_of_Business,Effective_Date,Expiration_Date,Commission_Rate,New_or_Renewal,Agent_Name,State_Tax_Rate,Commission_Basis,Reinsurance_premium_rate,State_of_Coverage_y
0,CA10000205303,0,54.61,0.0,TN,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,FILER INSURANCE INC,0.04,WRITTEN,0.8,Ala.
1,CA10000205303,0,54.61,0.0,TN,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,FILER INSURANCE INC,0.04,WRITTEN,0.8,Ga.
2,CA10000205303,0,54.61,0.0,TN,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,FILER INSURANCE INC,0.04,WRITTEN,0.8,Hawaii (c)
3,CA10000205303,0,54.61,0.0,TN,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,FILER INSURANCE INC,0.04,WRITTEN,0.8,La.
4,CA10000205303,0,54.61,0.0,TN,COMMERCIAL AUTOMOBILE,6/1/2018,6/1/2019,0.0015,R,FILER INSURANCE INC,0.04,WRITTEN,0.8,Mo.

In [118]:
#save cleaned data as CSV
merged_df.to_csv('insurance_dataset.csv', index=False)

In [133]:
#Create the engine and pass in Postgresql
engine = create_engine('postgresql+psycopg2://postgres:pswd@localhost/etl_db')
conn = engine.connect()

In [134]:
engine.table_names()

['ins_data', 'tax_data']

In [139]:
table1 = pd.read_sql_query('select * from ins_data', con=engine).head()
table1

,policy_number,premium_written,premium_earned,premium_unearned,state_of_coverage,line_of_business,effective_date,expiration_date,commission_rate,new_or_renewal,agent_name,state_tax_rate,commission_basis,reinsurance_premium_rate
0,CA10000204703,0,66.28,0.0,GA,COMMERCIAL AUTOMOBILE,2018-06-01,2019-06-01,0.0015,R,ACRISURE LLC,0.036000000000000004,WRITTEN,0.8
1,CA10000204703,0,5979.55,0.0,GA,COMMERCIAL AUTOMOBILE,2018-06-01,2019-06-01,0.0015,R,ACRISURE LLC,0.036000000000000004,WRITTEN,0.8
2,CA10000204703,0,3154.39,0.0,GA,COMMERCIAL AUTOMOBILE,2018-06-01,2019-06-01,0.0015,R,ACRISURE LLC,0.036000000000000004,WRITTEN,0.8
3,CA10000204704,18712,6237.33,12474.67,GA,COMMERCIAL AUTOMOBILE,2019-06-01,2020-06-01,0.0015,R,ACRISURE LLC,0.036000000000000004,WRITTEN,0.8
4,CA10000204704,5708,1902.67,3805.33,GA,COMMERCIAL AUTOMOBILE,2019-06-01,2020-06-01,0.0015,R,ACRISURE LLC,0.036000000000000004,WRITTEN,0.8

In [140]:
table2 = pd.read_sql_query('select * from tax_data', con=engine).head()
table2

  state_of_coverage state_tax_rate
0              Ala.           0.04
1            Alaska            0.0
2             Ariz.           0.06
3              Ark.           0.07
4        Calif. (b)           0.07